<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            background-color: #0e0e0e;
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
<div >

    <br>
    <img src="/static/images/left/channel_current.png">
    <dl class="system_log">
        <dt >系统记录<img src="/static/images/left/select_xl01.png"></dt>
        <dd class="first_dd"><a href="#" onclick="add1()">投资分析</a></dd>
        <dd><a href="#" id="TzzButton">短信充值记录</a></dd>
        <dd><a href="#">消费记录</a></dd>
        <dd><a href="#">操作记录</a></dd>
    </dl>
</div>
</body>
</html>